.navbar-bg {
    background-color: #6263D5!important;
}

.nav-in {
    background-color: #6263D5 !important;
}
.navbar-text{
    width:7rem;
    height:2.4rem;
    margin-left:.5rem;

}
.navbar-brand{
     color: white;
    /* font-family: 'WorkSans'; */

    font-size: 1.5rem;
    font-family: 'Inter';
    margin-left:0.4rem;
    
}

.remove-flex-grow{
    flex-grow: unset;

}
.img-txt-box{
    display:flex;
    align-items: center;
    
}
.navbar-logo-img{
    height:2.5rem;
    margin-top: 0.3rem; 

}
.navbar-logo-box{
   margin-left:10rem; 
   display:flex;
}
.navbar-property-box{
    margin-left: 22rem;

}
.navbar-button{
    margin-right:6rem;

    
}
.nav-item{
    margin-right: 1.8rem;
    font-size:0.9rem;
    font-weight:600;
    color:black;
}

.nav-item-colour{
    color:white;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    
}
.button-styling{
font-size:.8rem;
font-weight:600;
font-family: 'inter';
background-color: #FBD92D;
}

@media only screen and (max-width: 821px) {

.navbar-logo-box{
    margin-left: 0.2rem;;
}
.navbar-toggler{
border: none !important;
}

}