.bg-color-forth{
    background-color: white;
    height:10rem;
    width:100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
/* .img-{
    width:6rem;
    height:8rem;
     */

.img-box{
    width:10rem;
    height:6rem;
    margin-top: 2rem;
}
.footer-box1{  
   width:22.8125rem;
   height:4.875 rem;
   left:13.6875rem;
   top: 8.875rem;
}
.circle{
    border-radius: 50px;
    border: 1px solid grey;
    width:2.5rem;
    height: 2.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.f-para{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height:26px ;
    font-family:'Inter' ;
    margin-top: 1rem;

}
p {
     margin-top:0rem; 
margin-bottom: 0.8rem;
}
.footer-box2{
    margin-top: 3rem;
    height:10rem;
    width:15rem;
    font-size:1rem;
    margin-left:5rem;
    font-family:'Outfit';
    font-weight: 400;
}
.footer-box3{
    margin-top: 3rem;
    height:10rem;
    width:10rem;
    font-size:1rem;
    font-family:'Outfit';
    font-size:1rem;
    font-weight: 400;

}
.footer-box4{
    margin-top: 3rem;
    height:10rem;
    width:7rem;
    font-size:1rem;
    font-family:'Outfit';
    font-weight: 400;

}
.subheading{
    font-weight: 600;
    font-size: 1rem;
}

.innerbox{
    display: flex;
    flex-direction: row;
 
    justify-content: space-between;
}
.bottom-box{
    justify-content: space-between;
}

.inner-right-box{
    padding-top:2rem;
}
.inner-left-box{

}
.paa{
    margin-right: 3rem;;
}
.img-icon{
    height:1.28rem;
    width:1.3019rem;
    

}
.image-icon-box{
 width:80%;
 display: flex;
 padding-bottom: 2rem;
 padding-top:1rem;
 
}
.text-style{
    width:70%;
    display:flex;

}
.img-logo{

    width: 11.8125rem;
    height:5rem;
    left:-0.025rem;
    top: 0rem;


}

.img-y-logo{
    width:4rem;
    height:2rem;

}
.footer-small{
    display:none;
}
.footer-big{
   width: 80%;
}



@media only screen and (max-width: 800px) {
    .footer-big{
        display:none;
    }
    .footer-small{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom-box {
        justify-content: center;
    }
    .footer-box4{
       width: auto;
    
    }
    .innerbox{
        flex-direction: column!important; 
    }
    
    .f-para{
        margin-top: 0rem!important;
        font-size: 0.952rem!important;
    
    }
    
    .footer-box1{

        width:100%;
    }
    .footer-box2{
        margin-top:0rem!important;
        margin-left:0rem!important;
        
    }
    
    .footer-box3{
        margin-top:0rem!important;
        margin-left: 0 !important;
    }
    .footer-box4{
        margin-top:0rem!important;
    
    }
    .img-box{
       
        margin-top: 1rem !important;
    }
    .right-reserved-styling{
        
        display:flex;
        justify-content:end;
        color: #333333;
        font-family: 'Outfit';
        font-weight: 500;
        font-size: 1rem;
        
    }
    .text-style{
        width:70%;
        display:flex;
        font-weight: 600;
        font-family: 'Outfit';
    
    }
    .image-icon-box{
        padding-bottom: 0.5rem;
        padding-top:2.5rem;
        justify-content: center;
    }
    hr{
        border-top:2px solid #333333;;
    
    }


}
@media only screen and (max-width: 1300px) {

    .footer-big{
        display:none;
    }
    .footer-small{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-box4{
        width: auto;
}
.footer-box3{
    margin-top:0rem!important;
    margin-left: 5rem;
}
}






