.bg-color-forth{
    background-color: white;
    height:10rem;
    width:100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.img-combi{
    width:6rem;
    height:8rem;
    
}
.img-box{
    width:10rem;
    height:6rem;
    margin-top: 2rem;;
}
.footer-box1{

    width:20rem;
}

.f-para{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-box2{
    margin-top: 3rem;
    height:10rem;
    width:12rem;
    font-size: small;
    margin-left: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-box3{
    margin-top: 3rem;
    height:10rem;
    width:10rem;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.footer-box4{
    margin-top: 3rem;
    height:10rem;
    width:4rem;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.innerbox{
    display: flex;
    flex-direction: row;
 
    justify-content: space-between;
}
.bottom-box{
    justify-content: space-between;
}

.inner-right-box{
    padding-top: 1rem;
}
.paa{
    margin-right: 3rem;;
}
.img-icon{
    height:2rem;
    width:2rem;
    margin-right: 1rem;

}
.image-icon-box{
 width:80%;
 
}
.text-style{
    width:70%;
    display:flex;

}
.img-logo{
    width:3rem;
    height:3rem;

}

.img-y-logo{
    width:4rem;
    height:2rem;

}
.footer-small{
    display:none;
}
.footer-big{
   width: 80%;
}



@media only screen and (max-width: 800px) {
    .footer-big{
        display:none;
    }
    .footer-small{
        display:flex;
        flex-direction: column;
    }
    .inner-right-box{
        width: 45%!important;
    }
    .innerbox{
        flex-direction: column!important;

    }
    .footer-box1{

        width:100%;
    }
    .footer-box2{
        margin-top:0rem!important;
        margin-left:0rem!important;
        
    }
    .footer-box3{
        margin-top:0rem!important;
        
    }.footer-box4{
        margin-top:0rem!important;
    
    }
    .right-reserved-styling{
        width:30% ;
        display:flex;
        justify-content:end;
        font-size: 0.9rem;;
    }
    .text-style{
        width:70%;
        display:flex;
        font-size:0.9rem;
    
    }

}



