.bg-color-fifth{
    background-color: rgb(210, 217, 226);
    height:28rem;
    width:100%;


}
.text-center{
    text-align: center;
    
} 

.content2-fontsize{
    font-size:2.8rem;
    padding:2rem;
    font-weight:645;
}
.heading-box2{
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.askbox1{
    display:flex;
    flex-direction: row;;
}
.askbox2{
    display:flex;
    flex-direction: row!important;
margin-top: 2rem;
}

.input-box{
    height: 3rem;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(210, 217, 226);
    padding: 8px;
    margin-top: 10px;
}
.textarea1
{
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(210, 217, 226);
    padding: 8px;
    width: 100%;
}
.textarea-div{
    width: 68%;
}
.submit{
    width: 25%;
    display: flex;
    align-items: end;
    padding: 5px;
}

.submit-btn{
    width: 8rem;
    border-radius: 3rem;
    height:3.5rem;
}

.queries-img{
    width: 12rem;
}
.form-big{
  width: 75%;  
}
.form-small{
    display:none;
}


@media only screen and (max-width: 800px) {
    .ask-image{display:none}
    .form-big{display:none}

    .heading-box2{
       flex-direction:column!important;
       padding: 0rem!important;
     }
.form-small{
    display: flex;
    flex-direction: column ;
}
.input-box{
    width: 100%!important;
}
.textarea-div{
    width: 100%;
}

}