.bg-color-fifth{
    background-color: rgb(210, 217, 226);
    height:32rem;
    width:100%;
}
.queries-parent{
    width:80%;

}
.heading-text{
    font-size: 500;
    font-weight: 500;
}
.text-center{
    text-align: center;
    
} 

.content2-fontsize{
    font-size:2.8rem;
    padding:2rem;
    font-weight:645;
}
.heading-box2{
    padding: 3rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.askbox1{
    display:flex;
    flex-direction: row;;
}
.askbox2{
    display:flex;
    flex-direction: row!important;
margin-top: 2rem;
}

.input-box{
    height: 3rem;
    border-radius: 5px;
    border: 1px solid #333333;;
    background-color: rgb(210, 217, 226);
    padding: 8px;
    margin-top:0.9rem;
}
.textarea1
{
    border-radius: 5px;
    border: 1px solid  #333333;;
    background-color: rgb(210, 217, 226);
    padding: 8px;
    width: 100%;
    margin-top: 0.9rem;
}
.textarea-div{
    width: 68%;


}
.submit{
    font-family: 'Inter';
    /* width: 25%; */
    display: flex;
    align-items: end;
     padding: 5px;
     display:flex;
     justify-content:center;
     align-items: center;
     padding-top: 3rem;

}

.submit-btn{
    width: 6.8rem;
    border-radius: 4rem;
    height: 3.0rem;
    font-size: 1.1rem;
    font-family: 'Inter';
   

}

.queries-img{
    width:18.06rem;
    height: 11.68rem;

}
.sbumit-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-big{
  width: 75%;  
}
.form-small{
    display:none;
}
.query-title-space{
    margin-left:0.8rem;
}
.title-styling-queries{
    font-weight: 600;
    font-family: 'Inter';
    font-size: 2.4rem;
  }
  


@media only screen and (max-width: 800px) {
    .ask-image{display:none}
    .form-big{display:none}
    .title-styling-queries{
    
        font-size: 1.8rem !important;
    
      }
      .textarea1{
        margin-top: 0rem;
      }

    .query-title-space{
        margin-left: 0rem!important;
    }

    .heading-box2{
       flex-direction:column!important;
       padding: 0rem!important;
       align-items: flex-start;
       margin-top:1.8rem;
    
     }
.form-small{
    display: flex;
    flex-direction: column ;
    width: 100%;
}
.input-box{
    width: 100%!important;
    margin-top:0rem;

}
.textarea-div{
    width: 100%;
    margin-top:0.5rem;
}
.submit-btn-small{
    width:100%!important;
    border-radius: 3rem;
    margin-top:0.5rem;
    font-family: 'Inter';
}
.input-text-style{
    margin-top:1.5rem;
}
.queries-parent{
    width: 100% !important;;

}
.heading-text{
    font-size: 2rem!important;

}
}
