.card-style {
    margin: 1em;

    height: 25rem;
    border-radius: 1rem;
}

.bg-color-feedback{
    background-color: rgb(210, 217, 226);
    height:42rem;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-text{
    margin-top: 1rem;
}
 /* .navbar-logo-img{ 
    height:4rem;
    width:3rem;
} */

.center {
    justify-content: center;
}
.fed-img{
    width: 3rem;
    height:3rem;
    border-radius: 50rem;
    

}
button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

  }
  .st-btn{
 font-size: 1.8rem;
/* transform: scale(.5, 1); */
  }
  .feedback-bottom{
    height: 75px;
    display: flex;
    flex-direction: column;
    
  }
  .card-align{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2.5rem;
    /* align-items: flex-end; */
    
  }
  
  .on {
    color:orange;
  }
  .off {
    color: #ccc;
  }
.button-style{
    border-radius: 10rem;
    height:3rem;
    width:3rem;
    border: none !important;
}
.car-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
.font-height-feedback{
    font-size:3rem;
    padding:2rem;
    font-weight:500;
}
.feedback-heading-box{
  padding: 3rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.title-styling{
  font-weight: 600;
  font-family: 'Inter';
  font-size: 40px;
}


@media only screen and (max-width: 821px) {

  .st-btn{
    font-size: 1.0rem !important;
  
  }
  .card-text{
      margin-top: 0rem !important;
  }
  .bg-color-feedback{
    background-color: #D9D9FF;
    height:40rem;
    width:100%;
  }

  .card-style {
    margin: 0.2em;
    height: 22rem;
    border-radius: 1rem;
}

.font-height-feedback{
  font-size:3rem;
  padding: 0rem !important;;
  font-weight:500;
}
.feedback-heading-box{
  padding: 2rem 2rem 4rem 0;
  justify-content: left;
}

.button-style{
  display: none;
}

}

.carousel-box{
  width: 80%;
  
}

.react-multiple-carousel__arrow--left{
  left: 0!important;
  background-color: #6263D5;
}

.react-multiple-carousel__arrow--right{
  right: 0!important;
  background-color: #6263D5;
}


/* @media only screen and (max-width: 1200px) {
  .button-style{
    display: none;
}
} */















