
.bg-color-first{
    background-color:#6464d4;
   
}
.content-scope{
    height:45rem;

}
.bg-color-sec{
    background-color: white;
   
}
.bg-color-third{
    background-color:#dbdbfb ;
}

.gplay-img {
    height:3.5rem;
    width:11rem; 
}
.play-button{
    background: transparent;
    border: none;
    font-size: 1rem;
}

@media only screen and (max-width: 800px) {

.mobile-img {display: none;}
.play-button{display: none;}
.promotion {display: none !important;}

.mobile-img-small{
    width:12rem;;
    height:22rem;
    display: block !important;
}
.secondflexbox{
    padding-top: 0!important;
}

.firstflexbox{
    padding-top: 0.5rem !important;
}


.buttons-div{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 1rem !important;
    margin-top: 0 !important;
}
    
    }

.buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top:3rem;
}

.top-space-50{
    margin-top: 30px;
}

.mobile-img {
    width:20rem;;
    height:36rem;
}

.mobile-img-small{
    display: none;
}
.firstflexbox{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 70px ;
}

.text-font{
    font-family: "Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
}
.secondflexbox{
    display:flex;
    flex-direction: column;
    height:100%;
    padding-top:4rem;

}
.style-text{
    margin-right:50px;
}
li {

    list-style: none;
    color:grey;
}

li.bullet::before {

    /* Unicode for a bullet */
    content: "\2022";
    color:#6464d4;;
      
    display: inline-block;
    width: 1rem;
    margin-left: -1.5em;
    font-size: 1.5rem;
}
.text-line{
    text-decoration-line:line-through ;
}
.content-fontsize{

    font-size:3rem;
    font-weight:620;


}
.content-text{
    height:100%;
    padding-top:4rem ;

}
