
.bg-color-first{
    background-color:#6464d4;
   
}
.content-scope{
    height:45rem;

}
.bg-color-sec{
    background-color: white;
   
}
.bg-color-third{
    background-color:#dbdbfb ;
}

.gplay-img {
    height:3.5rem;
    width:11rem; 
}
.promotion{
    margin-top: 1.2rem;
}
li.bullet{
    color:#7E8091;
    font-size:1rem; /* change temporary */ 
    font-family: 'Inter';

}
.content-context{
    font-weight:700;
 font-family: 'Inter'; 
 font-style:normal; 
}
.banner{
    font-family: 'Inter';
    font-size: 0.8rem;
    font-weight: 300;
}
.play-button{
    background: transparent;
    border: none;
    font-size: 1.2rem;
}
.c-heading-small{
    display:none;
}
 /* img.mobile-shadow{
    box-shadow: 7px 7px 1px grey; */
 

.arya-small{
    display: none;
}
.bullet-text-small{
    display:none;
}

.show-in-big-hide-in-small{
    display: block;
}

.hide-in-big-show-in-small{
    display: none;
}

.content-scope-firstbox {
height:45rem;
}
.apple-img{
    display:none;
}

@media only screen and (max-width: 800px) {

    .content-scope-firstbox {
        height:52rem !important;
    }
    .apple-img{
        display:block;
        height:3rem;
        width:8.5rem; 
    }
    .show-in-big-hide-in-small{
        display: none;
    }
    
    .hide-in-big-show-in-small{
        display: block;
    }

    .content-context{
     display: block;
     text-align: center;
    }
.mobile-img {display: none;}
.play-button{display: none;}
.promotion {display: none !important;}
.arya-big {
    display: none;
}
.bullet-text-small{
    display:block;

}
.gplay-img {
    height:2.82rem;
    width:7.5rem; 
}
.heading-small{
    display:block;
    align-items: center;
    margin-top: 0.8rem;
}
.arya-small{
    display: block;
}
.smallspace{
    margin-top: 1rem;
}

.mobile-img-small{
    width:16rem;
    height: 2rem;
    display: block !important;
}
.secondflexbox{
    padding-top:1rem!important;
    align-items: center;
}

.firstflexbox{
    padding-top: 0.5rem !important;
}


.buttons-div{
    display: flex ;
    flex-direction: row;
    justify-content: center !important;
    width: 90% !important;
    margin-bottom: 1rem !important;
    margin-top: 0 !important;
}
.text-font{
    font-family:'Inter'!important;
    font-size: 0.9rem!important;
    text-align: center;
}
.content-fontsize{
    font-size:1.8rem !important;
    font-weight:640;
    font-family: 'Inter';
    display: block;
    text-align: center;

}
.bullets-div-small{
    display:flex !important;
    flex-direction: column !important;  
    font-size: 1rem;;
  }
  .bullets-div {
    display: none !important;
  } 
  .content-text{

    padding-top:0.8rem !important; ;

}
.c-heading-small{
    margin-top:5rem;
}

}



.bullets-div-small{
    display:none;
    
}

.bullets-div{
  display: flex;
  flex-direction: row;  
} 

.buttons-div{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 70%;
    margin-top:1.2rem;
}

.top-space-50{
    margin-top: 15px;
}

.mobile-img {
    width:19.0rem;
    height:32rem;
}

.mobile-img-small{
    display: none;
    width: 17rem;
    height: 29rem;
    margin-top: 1rem;
}
.firstflexbox{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 70px ;
}

.text-font{
    /* font-family: "Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-family:'Inter';
    font-size: 20px;
}
.secondflexbox{
    display:flex;
    flex-direction: column;
    height:100%;
    padding-top:4rem;

}
.style-text{
    margin-right:50px;
}
/* li {

    list-style: none;
    color:grey;
} */

/* li.bullet::before {

   
    content: "\2022";
    color:#6464d4;;
      
    display: inline-block;
    width: 1rem;
    margin-left: -1.5em;
    font-size: 1.5rem;
} */

li.bullet::marker {
    font-size: 1.5rem;
    color:#6464d4;;
}

.text-line{
    text-decoration-line:line-through ;
}
.content-fontsize{
    font-family: 'Inter';
    font-size:2.8rem;
    font-weight:620;
}
.content-text{
    height:100%;
    padding-top:4rem ;

}

@media only screen and (max-width: 450px) {
    .content-scope{
        height:49rem;
    }
}
